@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.navbar-custom {
    background-color: #f6ffe3; /* Custom background color */
}

.logo-nav {
    width: 150px;
}

.custom-footer-bg {
    background-color: #f8ffe5; /* Light green background */
    padding: 15px 50px; /* Add padding to the top, bottom, left, and right */
}

.footer-logo {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.footer-text p {
    font-size: 0.9rem;
    color: #333;
    margin: 0;
}

/* Style for social media icons */
.footer-right a {
    transition: transform 0.2s;
    text-decoration: none;
    margin-left: 15px;
}

.footer-right a:hover {
    transform: scale(1.2);
}

/* Mobile-specific adjustments */

/* COLOR */
/* hijau neon: #AFDA00 */
/* hijau muda (card):  #CFF699 */
/* hijau background: #F2FFD8 */
/* hijau tua: #19392A */
/* Hitam: #1a1a1a */
/* Box Shadow Big and Small:
box-shadow: rgba(0, 0, 0, 0.25) 0 .4vw .8vw;
box-shadow: rgba(0, 0, 0, 0.25) 0 .2vw .6vw;
*/

/* Bentuk page */
.page-content {
    padding: 5vw;
}

/* Jarak/pembatas antara sections */
/* .hr {
  margin: 8vw 0;
  visibility: hidden;
} */

/* Background Main */
body {
    background: url(/photos/WebBG.webp);
    background-size: cover;
    background-color: #f2ffd8;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-custom {
    background-color: #f2ffd8 !important;
}

/* Hijau pada halaman produk: */
.backdrop-product {
    position: absolute;
    width: 100%;
    left: 0;
    height: 44vw;
    z-index: -1;
}

.section-paper {
    background-image: url(/photos/SectionPaper.webp);
    background-size: cover;
    background-position: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.section-paper-kontak {
    background-image: url(/photos/SectionPaper.webp);
    background-size: cover;
    background-position: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.cardboard-card {
    border-radius: 1.5vw;
    background-image: url(/photos/cbCard.webp);
    background-size: cover;
    width: 100%;
    padding: 3.4vw 4vw;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

.kontak-title {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow to the title */
}

.cardboard-card h1 {
    font-size: 5rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
    letter-spacing: 0.5rem;
}
.cardboard-card h2 {
    font-size: 3rem;
    font-weight: 300;
    text-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

/* ~~~~~ Banner Assets: ~~~~~ */
.banner-section {
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: rgba(220, 139, 41, 0);
}

.banner-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

.banner-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    z-index: 1;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: rgba(0, 0, 0, 0.85) 0 0.4vw 0.8vw;
}

/* {{-- Media Queries --}} */
/* @media(max-width: 1280px) {
  .banner-image {
    width: 100%;
    height: 60vw;
  }
  .banner-section {
    width: 100%;
    height: 60vw;
    background-color: rgba(220, 41, 202, 0);
  }
}

@media(max-width: 480px) {
  .banner-image {
    width: 100%;
    height: 30vw;
  }
  .banner-section {
    width: 100%;
    height: 30vw;
    background-color: rgba(220, 41, 41, 0);
  }
} */

/* Tablet Screens */

/* Mobile Screens */

/* ~~~~~ Navbar: ~~~~~ */
/* elemen navbar */
#my-navbar .navbar-light {
    color: #1a1a1a;
}

#my-navbar .navbar-light .nav-link {
    color: #1a1a1a;
}

/* Utk navbar-partial */

.navbar {
    width: 100%;
    max-width: 100%;
    transform: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar li {
    font-size: 1.2vw;
    margin-left: 1vw;
}

.navbar-nav {
    padding: 0 3vw;
}

.logo-nav {
    height: 4.6vw;
    width: auto;
}

.navbar-toggler {
    width: 5vw; /* set a fixed width */
    height: 4vw; /* set a fixed height */
    padding: 0; /* remove padding */
    margin: 0; /* remove margin */
    /* font-size: 1.2vw;  */
    border-radius: 0.8vw;
    transform: none; /* prevent scaling */
    font-size: 1rem; /* Adjust size */
}

.container-fluid {
    padding: 0 5vw;
}

/* ~~~~~ Button Assets: ~~~~~ */
/* 1) Small Button */
.small-btn {
    background-color: #afda00;
    color: #1a1a1a;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin: 1.5vw 0;
    width: 12%;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.2vw 0.6vw;
}

.maps-btn {
    font-size: 20px;
    width: 20%;
}

.small-btn:hover {
    background-color: #d2eb6e;
}

.small-btn:active {
    background: rgba(255, 0, 0, 0.367);
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
    transition: transform 0.6s cubic-bezier(0, 0.55, 0.45, 1);
    transition-delay: 0.2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2vw 6vw -1vw inset,
        rgba(0, 0, 0, 0.3) 0 1vw 3vw -1vw inset;
}

/* ~~~~~ Card Assets: ~~~~~ */
.card1beranda {
    border-radius: 0 1.5vw 1.5vw 0;
    background-color: #cff699;
    width: 97vw;
    height: auto;
    margin-left: -10%;
    padding: 0vw 0vw 0vw 9vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

.foto-section {
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    margin: 2vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

.foto-section2 {
    object-fit: cover;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-komunitas {
    object-fit: cover;
    margin: 2vw;
    border-radius: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
    width: 18vw;
    height: 18vw;
    margin: 0;
}

.card2beranda {
    border-radius: 0.8vw;
    width: 85%;
    margin: auto;
    padding: 0;
}

/* .card img {
  border-top-left-radius: .8vw;
  border-bottom-left-radius: .8vw;
  height: 318px;
} */

/* typography: */
.card-title {
    font-size: 4vw;
    font-weight: bold;
    margin: 0;
    color: #1a1a1a;
    border-bottom: 3px solid #1a1a1a; /* Underline with border */
    padding-bottom: 0.2em; /* Control the gap here */
    display: inline-block; /* Ensure it only affects the text */
}

.card-content {
    font-size: 1.5vw;
    line-height: 1.6; /* Utk jarak enter/paragraf */
    color: #19392a;
    margin: 0;
    text-align: justify;
}

/* card Produk */
.cardProduk {
    background-color: #f1f1f1;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    overflow: hidden;
    margin: 0;
    width: 16vw;
    height: 28vw;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.2vw 0.6vw;
}
.img-product {
    width: 15vw;
    height: 14vw;
    object-fit: cover;
    border: 0.2vw solid #afda00;
    margin: auto;
    margin-top: 0.6vw;
    border-radius: 0.5vw 0.5vw 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardProduk-body {
    padding: 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardProduk-title {
    font-weight: bold;
    font-size: 1.6vw;
    margin-bottom: 0.8vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.cardProduk-text {
    font-size: 1vw;
    color: #000000;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4.6vw;
}
.cardProduk-footer {
    font-size: 1vw;
    color: #9b9b9b;
    font-weight: lighter;
    text-align: right;
    text-decoration: underline;
    background-color: #f7f7f7;
    padding: 0.6vw;
    border-top: 0.1vw solid #ddd;
    transition: color 0.2s ease;
    margin-top: 0;
}
.cardProduk-harga {
    font-weight: 500;
    font-size: 1vw;
    color: #46c34c;
    align-items: end;
    margin-bottom: 0;
}

.produk-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12vw, 1fr));
    gap: 2vw;
}

/* cardProduk Scroll ============================================== */
.scrollProduk {
    max-width: 250vw;
    margin: 1vw 1vw 1vw 0;
    overflow: auto;
}
.scrollProduk ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 0 2vw -0.6vw;
}
.scrollProduk li {
    margin: 0 0.9vw;
}
.scrollProduk::-webkit-scrollbar {
    height: 0.8vw;
}

/* Track */
.scrollProduk::-webkit-scrollbar-track {
    background: #cff699;
}

/* Handle */
.scrollProduk::-webkit-scrollbar-thumb {
    background: #afda00;
}

/* Handle on hover */
.scrollProduk::-webkit-scrollbar-thumb:hover {
    background: #afda00;
}

/* PRODUK DETAILLLLL */
/* foto */
.produkdetail {
    background-color: #f1f1f1;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    margin: 0;
    width: 28vw;
    height: 38vw;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    padding: 0;
}

/* foto kecil */
.produkdetail-fotokecil {
    background-color: #f1f1f1;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    border-radius: 0.5vw;
    margin: 0;
    width: 6vw;
    height: 6vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

/* produkdetail-text */

.produkdetail-title {
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 2vw;
    margin-top: 0;
}

.produkdetail-text {
    font-size: 1.5vw;
    margin-top: 2vw;
    color: #000000;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ~~~~~ Pop Ups: ~~~~~ */
/* popup donate + other popups */
.modal-dialog {
    width: 94vw;
    height: auto;
}

.modal-body {
    text-align: center;
    padding: 2vw;
    z-index: 999;
}

.modal-content {
    border-radius: 20px;
    background-image: url("/photos/bgPopup.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-footer {
    font-size: 1.2vw;
    color: red;
    justify-content: center;
}

/* ~~~~~ Maps Hubungi Kami ~~~~~ */
#section-map {
    background-image: url(/photos/mapsBG.webp);
    background-position: center;
    background-repeat: repeat;
    object-fit: contain;
    display: flex;
    margin-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

.maps-box {
    width: 45%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 4vw;
    padding: 3vw;
    background-color: #00000090;
    border-radius: 0.8vw;
}
.maps-text p {
    font-size: 26px;
    color: #f1f1f1;
    margin: 2vw 0;
}

/* ~~~~~ Footer ~~~~~ */
footer {
    background-color: #f1f1f1;
    color: #161616;
    padding: 1.5vw 0;
    margin-top: 3vw;
}

footer .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.5vw;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col-md-4 {
    /* width: 33.33%; */
    text-align: center;
}

footer .logo {
    text-align: left;
}

footer .logo img {
    width: auto;
    height: 4.6vw;
}

footer .social-media {
    text-align: right;
}

footer .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0.8vw;
}

footer .social-media li {
    display: inline-block;
    margin: 0 2vw 0 0;
    padding: 0;
    font-size: 1.2vw;
    background-color: rgba(255, 0, 0, 0);
}

footer .social-media a {
    color: #161616;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer-button {
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 0.5vw;
}
.footer-button img {
    margin: 0;
    padding: 0;
}

.footer-button:hover {
    background-color: #afda00;
    transition: 0.2s ease-in-out;
    transition-delay: 0.2s;
}

/* footer .admin-popup {
  font-size: 1.2vw;
  margin: 0;
} */

/* ----------PROFIL KOMUNITAS--------- */
/* info */
.text-info p,
.text-info ul {
    font-size: 1.2vw;
    line-height: 1.5;
    color: #19392a;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 0, 0, 0);
}

.text-info .row .col {
    padding: 0;
}

.text-info li {
    font-size: 1.2vw;
    line-height: 1.5;
    color: #19392a;
    margin-left: 1.2vw;
}

/* anggota */
table {
    table-layout: fixed;
    width: 100%;
}

.anggota-text {
    font-size: 3vw;
    color: #19392a;
    text-align: center;
    margin: 0 0 1vw;
}

.anggota-text th {
    padding: 0;
}

.anggota-text2 {
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
    color: #19392a;
    margin: 0;
}

.anggota-text2 th {
    padding: 0;
}

/* struktur */
.struktur {
    background-color: #cff699;
    height: auto;
    width: auto;
    border-radius: 0.8vw;
    margin: 0 4vw;
    padding: 4vw 2vw;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

/* Foto Struktur Organisasi */
.foto-struktur {
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

.foto-struktur2 {
    height: 12vw;
    width: 12vw;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
}

.text-karyawan p {
    text-align: center;
    font-weight: bold;
    margin-bottom: -0.3vw;
    font-size: 1.6vw;
}

.text-karyawan2 p {
    text-align: center;
    margin-bottom: -0.3vw;
    font-size: 1.1vw;
}

/* Halaman Galeri */
.carousel-inner {
    object-fit: cover;
    height: 40vw;
    width: 100%;
}
.galeri-foto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 2vw;
}
.galeri-foto img {
    width: 100%;
    height: 20vw;
    object-fit: contain;
}

/* Admin Login */
.form-label {
    text-align: left;
}

.form-control {
    border-radius: 0.5vw;
    color: #555555;
}

/* ---- */
.forgot-password {
    text-align: right;
}

/* @media (max-width: 360px) {
 .forgot-password {
    text-align: left;
  }
} */

.card-title {
    font-size: 2rem; /* Use rem for better scaling */
}

.card-content {
    font-size: 1rem;
}

.footer-text p {
    font-size: 0.85rem;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    margin-top: 0;
    margin-bottom: 0;
}

.maps-box h1 {
    font-weight: bold;
    font-size: 3vw;
    color: #b7ff00;
}

@media (max-width: 768px) {
    .maps-btn {
        width: 30%;
        height: 15%;
        font-size: 16px;
    }

    .maps-box h1 {
        font-weight: bold;
        font-size: 32px;
        color: #b7ff00;
    }

    .maps-text p {
        font-size: 18px;
        line-height: 1.6; /* Utk jarak enter/paragraf */
        color: #f1f1f1;
        margin: 2vw 0;
    }
    .section-paper-kontak {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .cardboard-card {
        width: 100%;
    }
    .cardboard-card h1 {
        font-size: 3rem;
        text-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
        letter-spacing: 0.5rem;
    }
    .cardboard-card h2 {
        font-size: 1.5rem;
        font-weight: 300;
        text-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
    }
    .navbar li {
        font-size: 3vw;
    }

    .banner-image,
    .banner-section {
        height: 50vw;
    }

    .card1beranda {
        margin-left: 0;
        padding: 5vw;
    }

    .produk-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
    }

    .footer-text p {
        font-size: 10px;
    }

    .footer-logo {
        width: 70px;
    }
}

@media (max-width: 576px) {
    .maps-box {
        width: 80%;

        border-radius: 10px;
    }
    .section-paper-kontak {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .cardboard-card {
        width: 100%;
    }

    .cardboard-card h1 {
        font-size: 2rem;
        text-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
        letter-spacing: 0.5rem;
    }
    .cardboard-card h2 {
        font-size: 1rem;
        font-weight: 300;
        text-shadow: rgba(0, 0, 0, 0.25) 0 0.4vw 0.8vw;
    }

    .footer-left {
        margin-bottom: 20px;
    }

    .footer-text {
        text-align: left;
    }

    .footer-text p {
        text-align: left;
        font-size: 10px;
    }

    .footer-logo {
        width: 70px;
    }

    .footer-right {
        justify-content: center;
    }

    .footer-right a {
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .navbar-nav {
        padding: 0 1vw; /* Reduce padding */
    }

    .container-notice {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    .kontak .notice-donasi {
        font-size: 20px;
    }

    .kontak .ikutserta {
        width: 100%;
    }

    .kontak .text-ikutserta {
        font-size: 18px;
        width: 75%;
    }

    .small-btn {
        width: 30%;
        height: 15%;
        font-size: 16px;
    }

    .banner-text {
        font-size: 4vw;
        text-align: center;
    }

    .cardProduk {
        width: 90%;
        height: auto;
        margin: 1vw auto;
    }

    .scrollProduk ul {
        flex-direction: column;
    }
}
